# SETUP
# 1. on mac link to: /usr/local/etc/my.cnf
# 2. follow the password change steps noted in the stackoverflow article
#       a. ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '[password]';
#       b. brew services restart mysql

# Default Homebrew MySQL server config
[mysqld]
# Only allow connections from localhost
bind-address = 127.0.0.1

# sequelpro not compatible with latest authentication scheme
# see: https://stackoverflow.com/questions/51179516/sequel-pro-and-mysql-connection-failed/51180898
default-authentication-plugin=mysql_native_password
